Source: ros-kinetic-gcal-routine
Section: misc
Priority: extra
Maintainer: Marc Hanheide <marc@hanheide.net>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-message-generation, ros-kinetic-rospy, ros-kinetic-rostest, ros-kinetic-std-msgs, ros-kinetic-strands-executive-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-gcal-routine
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-dateutil, python-requests, ros-kinetic-mongodb-store-msgs, ros-kinetic-rospy, ros-kinetic-std-msgs, ros-kinetic-strands-executive-msgs
Description: The gcal_routine package
