Source: ros-kinetic-scheduler
Section: misc
Priority: extra
Maintainer: Nick Hawes <n.a.hawes@cs.bham.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-mongodb-store, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-scipoptsuite, ros-kinetic-strands-executive-msgs
Homepage: http://wiki.ros.org/scheduler
Standards-Version: 3.9.2

Package: ros-kinetic-scheduler
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-mongodb-store, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-scipoptsuite, ros-kinetic-strands-executive-msgs
Description: A task scheduler implemented using mixed integer programming.
